<template>
  <div class="container">
    <div
      class="box mb-5"
      @dragover.prevent="handleDragOver"
      @dragenter.prevent="handleDragEnter"
      @dragleave.prevent="handleDragLeave"
      @drop="handleDrop"
      :class="{ 'light-background': isBackground }"
    >
      <!-- file btn -->
      <input
        class="mb-3"
        type="file"
        name="file"
        ref="inputFile"
        multiple
        hidden
        @change="handleChangeFile"
      />
      <b-button
        @click="handleOpen('inputFile')"
        variant="outline-primary"
        id="btnInputFile"
        >Upload file</b-button
      >

      <!-- folder btn -->
      <input
        class="mb-3"
        type="file"
        name="file"
        ref="inputFolder"
        webkitdirectory
        multiple
        hidden
        @change="handleChangeFolder"
      />
      <b-button
        @click="handleOpen('inputFolder')"
        variant="outline-primary"
        id="btnInputFolder"
        >Upload folder</b-button
      >
    </div>
    <div v-for="(item, index) in files" :key="item.id" class="file_details">
      <img
        v-if="!item.preview"
        src="@/access/img/upload.png"
        class="file_image"
      />
      <img
        v-else-if="item.preview == 'file'"
        src="@/access/img/google-docs.png"
        class="file_image"
      />
      <img v-else :src="item.preview" class="file_image" />
      <div class="file_upload">
        <div class="file_name">
          {{ item.name }}
          <span
            v-if="item.isScan"
            class="ml-2"
            style="color: #ffcc66; font-weight: 500"
            >Scanning...</span
          >
          <span v-if="item.fileLength" class="ml-5"
            >{{ item.processFile }}/{{ item.fileLength }}</span
          >
        </div>
        <b-progress
          :value="item.process"
          :max="max"
          show-progress
          :animated="item.process == 100 ? true : false"
          variant="warning"
          v-if="item.isShowProgress"
        ></b-progress>
      </div>
      <div class="delete_file" @click="handleDeleteFile(index)">
        <span>X</span>
      </div>
    </div>
  </div>
</template>
<script>
import { v4 as uuidv4 } from "uuid";
export default {
  data() {
    return {
      files: [],
      max: 100,
      intervals: {},
      intervalScan: {},
      isBackground: false,
      listFolder: [],
    };
  },
  methods: {
    handleChangeFile(event) {
      this.addFiles([...event.target.files], "file");
    },
    handleChangeFolder(event) {
      this.addFiles([...event.target.files], "folder");
    },

    handleDrop(event) {
      event.preventDefault();
      const dt = event.dataTransfer;
      const items = dt.items;
      for (let i = 0; i < items.length; i++) {
        const item = items[i];
        if (item.kind === "file") {
          const entry = item.webkitGetAsEntry();
          if (entry.isDirectory) {
            this.readDirectory(entry, (numberOfEntries) => {
              const item = {
                name: entry.name,
                fileLength: numberOfEntries,
              };
              this.addSingleFile(item, "folder");
            });
          } else {
            const fileList = dt.files ? Array.from(dt.files) : [];
            this.addFiles(fileList, "file");
          }
        }
      }
    },

    readDirectory(directoryEntry, callback) {
      if (typeof directoryEntry.createReader === "function") {
        const directoryReader = directoryEntry.createReader();
        directoryReader.readEntries((entries) => {
          const numberOfEntries = entries.length;
          callback(numberOfEntries);
        });
      }
    },
    handleOpen(val) {
      this.$refs[val].click();
    },
    addSingleFile(file, type) {
      const uuid = uuidv4();
      let counter = 0;
      const progressItem = {
        ...file,
        id: uuid,
        name: file.name,
        preview: file.type
          ? file.type.includes("image")
            ? URL.createObjectURL(file)
            : "file"
          : null,
        fileLength: type === "file" ? "" : file.fileLength,
        process: 0,
        processFile: 0,
        isScan: false,
        isShowProgress: true,
      };
      this.files.forEach((item) => {
        if (item.name === progressItem.name) {
          counter += 1;
          progressItem.name = `${file.name} (${counter})`;
        }
      });

      this.intervals[uuid] = setInterval(
        () => {
          if (type === "file") {
            progressItem.process += 20;
          } else if (progressItem.processFile <= progressItem.fileLength) {
            progressItem.processFile += 1;
            progressItem.process = Math.floor(
              (progressItem.processFile / progressItem.fileLength) * 100
            );
          }
          if (progressItem.process == 100) {
            clearInterval(this.intervals[uuid]);
            progressItem.isScan = true;
            const intervalScan = setTimeout(() => {
              clearTimeout(intervalScan);
              progressItem.isScan = false;
              progressItem.isShowProgress = false;
            }, 3000);
          }
        },
        type === "file" ? 400 : 2000
      );
      this.files.push(progressItem);
    },
    addFiles(files, type) {
      this.isBackground = false;
      if (type === "file") {
        files.forEach((item) => {
          this.addSingleFile(item, type);
        });
      } else {
        const progressItem = {
          name: files[0]?.webkitRelativePath
            ? files[0]?.webkitRelativePath.split("/")[0]
            : "Folder",
          fileLength: files.length,
        };
        this.addSingleFile(progressItem, type);
      }
    },
    handleDeleteFile(index) {
      this.files.splice(index, 1);
    },
    handleDragOver() {
      this.isBackground = true;
      console.log("dragOver");
    },
    handleDragEnter() {
      this.isBackground = false;
      console.log("dragEnter");
    },
    handleDragLeave() {
      this.isBackground = false;
      console.log("dragLeave");
    },
  },
};
</script>

<style lang="css" scope>
@import "~/access/css/uploadFile.css";
</style>
