.container {
    padding: 20px;
  }
  
  .file_details {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeeee;
    border-radius: 5px;
    padding: 10px;
  }
  
  .file_image {
    width: 50px;
    height: 50px;
    /* background: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  
  .file_upload,
  .folder_upload {
    width: 90%;
  }
  
  .file_name {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .box {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px dashed chartreuse;
    margin: 0 auto;
  }
  
  .delete_file {
    cursor: pointer;
    font-weight: 600;
  }
  
  .light-background {
    background: #ccffff;
  }