<template>
  <div>
    <upload-file />
  </div>
</template>

<script>
import UploadFile from "../components/UploadFile.vue";
export default {
  components: { UploadFile },
  name: "IndexPage",
};
</script>
